.search-form {
	border-bottom: 1px solid transparentize($color-white, .8);
	float: right;
	margin: 13px 0 0;

	@media only screen and (max-width: 63em) {
		float: none;
		margin: 1em;
		height: 48px;
		position: relative;
	}

	.site-footer & {
		display: inline-block;
		float: none;
	}

	label {
		margin: 0;
	}

	.screen-reader-text {
		display: none;
	}

	input[type="search"] {
		background: none;
		border: none;
		bottom: -4px;
		color: $color-white;
		font-size: 14px;
		margin: 0;
		padding: 0;
		position: relative;

		@media only screen and (max-width: 63em) {
			width: 100%;
			padding: .5em;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}

	input[type="submit"] {
		background: transparent url('assets/img/search-icon.png') no-repeat center bottom;
		background-size: 13px;
		display: inline-block;
		height: 21px;
		text-indent: -9999px;
		vertical-align: middle;
		width: 21px;

		@media only screen and (max-width: 63em) {
			position: absolute;
			right: 10px;
			top: 8px;
		}

	}

	::-webkit-input-placeholder,
	:-moz-placeholder,
	::-moz-placeholder,
	:-ms-input-placeholder {
	   color: $color-white;
	   font-size: 8px;
	}

}
