.site-header-wrapper {
	@include container($container-size);

	body.no-max-width & {
		max-width: none;
	}
}

.site-header {
	position: relative;
	background-color: $color__background-header;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;

	&.video-header {
		height: 100vh;

		.hero {
			position: absolute;
			top: 35%;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 auto;
		}

		#wp-custom-header-video-button {
			position: absolute;
			top: 0.5em;
			right: 1em;
			opacity: 0.5;
			z-index: 11;
		}

		iframe#wp-custom-header-video {
			height: 100%;
		}
	}

	#wp-custom-header {
		position: absolute;
		height: 100%;

		img {
			display: none;
		}
	}

	.row {
		@include container($container-size);

		.site-title-wrapper,
		.hero {
			@include span(12);
		}

		@media #{$medium-up} {

			.hero {
				@include span(7);
			}
		}
	}
}

body.admin-bar {
	.video-header {
		height: calc( 100vh - 32px );
	}
}

.site-title-wrapper {
	@include span(12);

	position: relative;
	z-index: 1;
	padding: 3% 1rem 7% 1rem;

	@media #{$medium-up} {
		padding-top: 7%;
	}

	@media #{$small-only} {
		position: relative;
		width: auto;
		max-width: 80%;
		z-index: 8;
	}

	.site-title {
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 00;
		letter-spacing: -0.03em;
		font-weight: 700;
		font-size: 1.6em;
	}
}

.site-description {
	color: $color__text-tagline;
}

.header-image img {
	display: block;
}

.page-title-container {
	background-color: transparent;

	.page-header {
		z-index: 100;
		clear: both;

		h1 {
			font-weight: 300;
			font-size: 3rem;
		}
	}
}

body.no-max-width .page-title-container .page-header {
	max-width: none;
}

.hero {
	position: relative;
	padding: 0 0 56px;

	.widget {
		background: none;
		padding: 0;
	}

	.widget {
		.widget-title {
			color: #fff;
			font-size: 2.5rem;
			font-weight: 300;
			line-height: 1.2;
			margin: 21px 0 10px;
		}

		p {
			color: #fff;
			font-size: 1rem;
			font-weight: 200;
			margin: 0;
		}

		.button {
			margin-top: 24px;
			margin-bottom: 0.5em;
		}

		@media #{$medium-up} {

			.widget-title {
				font-size: 3rem;
			}

			p {
				font-size: 1.2rem;
			}
		}
	}
}

.page-title-container .page-title,
.page-title-container .archive-title {
	color: white;
	font-weight: 200;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
