.main-navigation {

	.menu-main-menu-container {
		float: left;
		margin-left: 0;
		margin-right: 0;
		width: auto;
	}

}

@media only screen and (max-width: 61.063em) {

	.main-navigation-container {
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 999;

		.admin-bar & {
			top: 32px;
		}

	}

}

.main-navigation-container,
.menu-main-menu-container,
.main-navigation,
.main-navigation .sub-menu {
	background: $color-red;
}

.main-navigation {

	@media only screen and (max-width: 61.063em) {
		padding-top: 75px;
	}

	li {

		@media only screen and (max-width: 61.063em) {
			font-size: 1.25rem;
		}

		&:hover,
		&.current-menu-item,
		&.current-page-item {

			a {
				border-bottom: 1px solid $color-white;
			}

		}

		a {
			border-bottom: 1px solid transparent;
			color: $color-white;
			margin: 16px;
			padding: 8px 0;

			&:hover {
				background: none;
			}

		}

		.sub-menu {

			li {

				a {
					border-bottom: 1px solid transparent;
					margin-left: 16px;
				}

				&:hover,
				&.current-menu-item,
				&.current-page-item {

					a {
						border-bottom: 1px solid transparent;
						margin-left: 16px;
					}

				}

			}

		}

		@media only screen and (min-width: 61.064em) {

			&:first-child {

				a {
					margin-left: 0;
				}

			}

		}

	}

}

.main-navigation .current-menu-item > a,
.main-navigation a:hover {
	background: none;
}

@media only screen and (max-width: 61.063em) {

	.menu-toggle {
		display: block;
		right: 5px;
		padding: 0 9px 24px 0;
		position: absolute;
		top: 30px;
		z-index: 9999;

		div {
			height: 0.45rem;
			margin-left: 0;
			margin-right: 0.86rem;
		}

	}

}
