.main-navigation {

	.menu-main-menu-container {
		float: left;
		margin-left: 0;
		margin-right: 0;
		width: auto;
	}

}

@media only screen and (max-width: 61.063em) {

	.main-navigation-container {
		position: absolute;
		top: 0;
		z-index: 999;
	}

}

.main-navigation-container,
.menu-main-menu-container,
.main-navigation,
.main-navigation .sub-menu {
	background: $color-red;
}

.main-navigation {

	li {

		&:hover,
		&.current-menu-item,
		&.current-page-item {

			a {
				border-bottom: 1px solid $color-white;
			}

		}

		a {
			border-bottom: 1px solid transparent;
			color: $color-white;
			margin: 16px;
			padding: 8px 0;

			&:hover {
				background: none;
			}

		}

		.sub-menu {

			li {

				a {
					border-bottom: 1px solid transparent;
					margin-left: 16px;
				}

				&:hover,
				&.current-menu-item,
				&.current-page-item {

					a {
						border-bottom: 1px solid transparent;
						margin-left: 16px;
					}

				}

			}

		}

		&:first-child {

			a {
				margin-left: 0;
			}

		}

	}

}

.main-navigation .current-menu-item > a,
.main-navigation a:hover {
	background: none;
}

@media only screen and (max-width: 61.063em) {

	.menu-toggle {
		display: block;
		padding: 0 9px 18px 0;

		div {
			margin-left: 0;
			margin-right: 0.86rem;
		}

	}

}
