.search-form {
	border-bottom: 1px solid transparentize($color-white, .8);
	float: right;
	margin: 15px 0 0;

	label {
		margin: 0;
	}

	.screen-reader-text {
		display: none;
	}

	input[type="search"] {
		background: none;
		color: $color-white;
		margin: 0;
		padding: .5rem;
	}

	input[type="submit"] {
		background: transparent url('.dev/assets/img/search-icon.png') no-repeat;
		display: inline-block;
		height: 21px;
		text-indent: -9999px;
		vertical-align: middle;
		width: 21px;
	}

	::-webkit-input-placeholder {
	   color: $color-white;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $color-white;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $color-white;
	}

	:-ms-input-placeholder {
	   color: $color-white;
	}

}
