body {
	color: $color-text;
}

h1 {
	font-size: 50px;
	font-weight: 100;
}

h2 {
	color: $color-disabled;
	font-size: 40px;
	font-weight: 200;
}

h3 {
	font-size: 36px;
	font-weight: 200;
}

h4 {
	color: $color-red;
	font-size: 24px;
	font-weight: 200;
}

h5 {
	font-size: 26px;
	font-weight: 200;
}

h6 {
	font-size: 26px;
	font-style: italic;
	font-weight: 200;
}

p {
	font-size: 20px;
	line-height: 30px;
}

a {

}

button,
button,
fl-button {

}

input {

}
