body {
	background: $color-white;
	color: $color-text;
}

.entry-title a {
	color: $color-text;

	&:link,
	&:visited,
	&:hover,
	&:active {
		color: $color-text;
	}

}

h1 {
	font-size: 3.125rem;
}

h2 {
	color: $color-disabled;
	font-size: 2.5rem;
}

h3 {
	font-size: 2.25rem;
}

h4 {
	color: $color-red;
	font-size: 1.5rem;
}

h5 {
	font-size: 1.625rem;
}

h6 {
	font-size: 1.625rem;
	font-style: italic;
}

p {
	font-size: 1rem;
	line-height: 30px;
}

a {
	color: $color-button;
}

button,
a.button,
.button,
a.fl-button,
input[type="submit"]:not(.search-submit) {
	background: $color-button;
	border: none;

	&:hover {
		background: $color-button;
	}

}

.hero-inner {

	h1 {
		color: $color-white;
	}

}

input {

}

.single .entry-title a,
.archive .entry-title a,
.archive .entry-title a:hover,
.single .entry-title a:hover {
	color: $color-text;
}
