.widget {
	padding: 0;

	&:after {
		clear: both;
		content: "";
		display: block;
	}

	.widget-title {
		font-size: 1.125rem;
		font-style: normal;

		#content &{
			color: $color-text;
		}
	}

}

.widget_rss {

	ul {

		li {
			padding: 10px 0;

			.rss-date {
				display: inline-block;
				margin-top: 10px;
			}

		}

	}

}
