// Fonts
$primary-font:   "Lato";
$secondary-font: "Lato";
$heading-font:   "Lato";

// Colors
$header-textcolor:        #ffffff;
$background-color:        #ffffff;
$header-background-color: #2c3845;
$menu-background-color:   #cc494f;
$footer-background-color: #2c3845;
$tagline-text-color:      #ffffff;
$link-color:              #cc494f;
$main-text-color:         #252525;
$secondary-text-color:    #686868;
