// Fonts
$primary-font:   "Lato";
$secondary-font: "Lato";
$heading-font:   "Lato";

// Colors
$header-textcolor:        #ffffff;
$background-color:        #f4f5f9;
$header-background-color: #d24343;
$menu-background-color:   #3fba73;
$footer-background-color: #2c3845;
$tagline-text-color:      #ffffff;
$link-color:              #ff6663;
$main-text-color:         #0b3954;
$secondary-text-color:    #686868;
